#about {
  min-height: 80vh;
  position: relative;
  margin-top: 7rem;
  .about-section1 {
    margin-top: 4rem;
    .about-image {
      box-shadow: 1px 1px 5px #ccc;
      margin: 3rem 3rem;
      width: 80%;
      object-fit: cover;
    }
    .social-link {
      font-size: 2rem;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 2rem;
      color: $grey;
      border: 1px solid $grey;
      box-shadow: 1px 1px 2px $grey;
      &:hover {
        color: $yellow;
        border-color: $yellow;
        box-shadow: 1px 1px 2px $yellow;
      }
    }
    .about-text {
      margin: 3rem 3rem;
      white-space: pre-wrap;
      font-size: 1.2rem;
      font-weight: lighter;
      text-align: justify;
    }
    .description-wrapper {
      text-align: left;
      width: 100%;
      padding: 1rem 3rem;
      font-size: 1.3rem;
    }
    .description-title {
      display: inline-block;
      font-weight: bold;
      width: 30%;
    }
    .description-bordered {
      border-bottom: 4px solid $yellow;
    }
    .description-text {
      display: inline-block;
      width: 70%;
      font-weight: lighter;
    }
    .button-wrapper {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 4rem;
      padding-left: 3rem;
    }
    .btn {
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 3rem;
      border: 2px solid $grey;
      color: $grey;
      box-shadow: 1px 1px 2px $grey;
      &:hover {
        color: white;
        background: $yellow;
        box-shadow: 1px 1px 2px $yellow;
        border-color: $yellow;
      }
    }
    .cv-btn {
      margin-left: 2rem;
      color: white;
      background: $yellow;
      box-shadow: 1px 1px 2px $yellow;
      border-color: $yellow;
      &:hover {
        transform: scale(1.1)
      }
    }
  }
  .about-section2 {
    margin: 5rem 0;
    min-height: 60vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../static/images/b4.jpg');
  }
}
