#contact {
    min-height: 80vh;
    position: relative;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-subtitle {
        margin: 1rem;
        color: $yellow;
    }
    input[type="text"],
    textarea {
        display: block;
        margin: 0.2rem;
        padding: 1rem;
        width: 90%;
        height: 3rem;
        background: #f7f6f6;
        &:focus {
            outline-color: $yellow;
        }
    }
    textarea {
        min-height: 15rem;
    }
    .form-btn {
        margin: 1rem;
        font-size: 1rem;
        padding: 0.75rem;
        background-color: $yellow;
        color: white;
        box-shadow: 1px 1px 2px $grey;
        display: block;
        width: 90%;
        &:hover {
            color: white;
            background: $grey;
            box-shadow: 1px 1px 2px $yellow;
            border-color: $yellow;
        }
    }
}

.footer {
    margin-top: 10rem;
    background-color: $dark;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    h3 {
        margin-right: 1rem;
    }
    i {
        color: $yellow !important;
    }
}