// Colors
$primary: #20939B;
$success: #41962e;
$warning: #F4863D;
$danger: #E53522;
$yellow: #E5BE24;
$dark: #212121;
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './layout.scss';
@import './sidebar.scss';
